html,
body {
	cursor: none;
}

body {
	margin: 0;
	background-color: black;
	min-height: 200vh;
}

#cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	transition: transform .1s;
}